<h1 class="h2 extra-bold pt-5 pb-3">Add your predictions</h1>

<p><%= @date %></p>

<% @fixture_date.keys.sort.each do |date| %>
<% fixtures = @fixture_date[date] %>
<% if @date < date && @date < date + 7%>
<p><%= date + 7 %></p>
  <h2 class="h5"><%= date.strftime("%A %d %B %Y") %></h2>
  <div class="row">
    <div class="col-md-12">
    <table class="table table-hover mb-5">
      <thead>
      </thead>
      <tbody>
        <% fixtures.each do |fixture| %>
          <tr>
            <td><%= fixture.date.strftime("%H:%M") %></td>
            <td><%= fixture.fixture_id %></td>
            <td class="w-25"><%= fixture.home_team_name %></td>
            <td><img src="<%= fixture.home_team_logo %>" alt="Team logo" height="32" width="32"></td>
            <td><%= fixture.home_goals %></td>
            <td>
            <% if fixture.home_goals.present? %>
              -
            <% else %>
            
            <% end %>
            </td>
            <td><%= fixture.away_goals %></td>
            <td><img src="<%= fixture.away_team_logo %>" alt="Team logo" height="32" width="32"></td>
            <td class="w-25"><%= fixture.away_team_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<% end %>
<% end %>
