<h1 class="h2 extra-bold pt-5 pb-3" >Match prediction</h1>

<% if @prediction %>
<pre><% JSON.pretty_generate(@prediction) %></pre>
<% end %>

<table class="table table-hover">
  <tbody>
    <tr>
      <td><%= @prediction["response"][0]["teams"]["home"]["name"] %></td>

    </tr>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Winner</th>
      <th>Win or Draw</th>
      <th>Under/Over</th>
      <th>Home Goals</th>
      <th>Away Goals</th>
      <th>Advice</th>
      <th>Home Win %</th>
      <th>Draw %</th>
      <th>Away Win %</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @prediction["response"][0]["predictions"]["winner"]["name"] %></td>
      <td><%= @prediction["response"][0]["predictions"]["win_or_draw"] ? "Win or Draw" : "Loss" %></td>
      <td><%= @prediction["response"][0]["predictions"]["under_over"] || '-' %></td>
      <td><%= @prediction["response"][0]["predictions"]["goals"]["home"] %></td>
      <td><%= @prediction["response"][0]["predictions"]["goals"]["away"] %></td>
      <td><%= @prediction["response"][0]["predictions"]["advice"] %></td>
      <td><%= @prediction["response"][0]["predictions"]["percent"]["home"] %></td>
      <td><%= @prediction["response"][0]["predictions"]["percent"]["draw"] %></td>
      <td><%= @prediction["response"][0]["predictions"]["percent"]["away"] %></td>
    </tr>
  </tbody>
</table>
